<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <% include _head.html %>
    <title>Warehousing Management</title>
</head>
<body>
<% include _nav.html %>
<div class="container-fluid">
    <div class="row">
        <% include _menu.html %>
        <div class="col-md-11 col-md-offset-1 main">
            <div class="container-fluid">
                <h4>Warehousing Result: </h4>
                <div style="float: left;">
                    <h4>Total records: <span class="price" id="total">--</span>  </h4>
                </div>
                <div style="float: left;margin-left: 200px">
                    <h4>Success records: <span class="price" id="merge">--</span> </h4>
                </div>
                <div style="float: left;margin-left: 200px">
                    <h4>Fail records: <span class="price" id="unmerge">--</span></h4>
                </div>
                <div style="float: left;margin-left: 200px">
                    <h4>result file: <input type="button" id="downloadRes" value="downloadRes"></h4>
                </div>
                <hr style="width: 99%" />
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:10px;">ID</th>
                            <th style="width:20px;">EPCID</th>
                            <th style="width:20px;">Serial No</th>
                            <th style="width:20px;">Location EPCID</th>
                            <th style="width:20px;">Location</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>
 <% include _foot.html %>
 
<script>
    var tab = '/importWarehouse';
    function reflashTable(){
        $('.table').eq(0).dataTable().fnDraw(false);
    }
	var dataArray={};
    $(function() {
        var pageSize = 15;
		$('.table').dataTable({
            "pagingType": "simple_numbers",
            searching: false,
            aLengthMenu:[pageSize],
            "iDisplayLength": pageSize,
            "bLengthChange": false,
            aaSorting: [],
            "oLanguage": {
                "sLengthMenu": "Every Page: _MENU_ ",
                "sZeroRecords": "Zero Records",
                "sInfo": "From _START_ - _END_  Total _TOTAL_ ",
                "sInfoEmpty": "no record",
                "sInfoFiltered": "(From _MAX_ records to filter)",
                "sSearch": "Search: ",
                "oPaginate": {
                    "sFirst": "First",
                    "sPrevious": "Previous",
                    "sNext": "Next",
                    "sLast": "Last"
                }
            },
            stateSave: true,
            "processing": true,
            "serverSide": true,
            "columns": [
                {"orderable": false},
                {"orderable": false},
                {"orderable": false},
                {"orderable": false},
                {"orderable": false}
            ],
            "fnServerData": function(sSource, aoData, fnCallback) {
                var start = aoData[3].value;
                var length = aoData[4].value;
                $.post('/warehousing/importWarehouse', function(res) {
                    if(res.code >= 0){
                    alert('waitting for few seconds!');
                        $.post('/warehousing/analyzeWarehouse', function(res) {
                            if(res.code < 0){return alert(res.msg);} 
                            alert(res.msg+" \n import warehousing result.......!");
                        });
                        setTimeout(function(){
                        $.post('/warehousing/importResult', {start:start,length:length}, function(res) {
                            if(res.code >= 0){
                                dataArray = res.data;
                                var ret = {recordsTotal: res.data.count, recordsFiltered: res.data.count, data:[]};
                                for (var i = 0; i < res.data.data.length; i++) {
                                    var obj = res.data.data[i];
                                    var item = [];
                                    item.push(obj.rfid_index);
                                    item.push(obj.rfid_epcid);
                                    item.push(obj.asset_num);
                                    item.push(obj.location_epcid);
                                    item.push(obj.lasLocationString);
                                    ret.data.push(item);
                                }
                                fnCallback(ret);
                            } else{
                                alert(res.msg);
                            }
                        });
                    },3000);
                    } else{
                        alert(res.msg);
                    }
                });
            }
        });
    });

    var refreshResult = function () {
        setTimeout(function(){
            $("#total").html(dataArray.total);
            $("#merge").html(dataArray.merge);
            $("#unmerge").html(dataArray.count);
        },5000);
        $("#downloadRes").focus();
    }

/**
 * 用iframe下载
 * @params url 下载地址
 */
function downloadByIframe(url){
    var iframe = document.getElementById("myIframe");
    if(iframe){
        iframe.src = url;
    }else{
        iframe = document.createElement("iframe");
        iframe.style.display = "none";
        iframe.src = url;
        iframe.id = "myIframe";
        document.body.appendChild(iframe);
    }
}


    $("#downloadRes").on('click',function(e) {
        var file = dataArray.file;
        alert(file);
        $.post('/downloadResult',  {file: file}, function(res) {
            if(res.code="success"){
                downloadByIframe(res.url);
            } else{
                alert('download fail');
            }
        });
    });


    $(function () {
       refreshResult();

    });

</script>
