
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Welcome</title>
  <meta name="theme-color" content="#32a7b8">

  <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="/css/index.css" />
  <link rel="stylesheet" media="screen" href="/css/home/home2.css" />
  <link rel="stylesheet" media="screen" href="/css/home/home3.css" />
</head>

<body id="home_controller">
<div class="wrapper">
  <nav class="navbar navbar-toggleable-sm header-area"></nav>
    <div id="items">
      <div class="cont-area">
        <div class="container banner-area">
          <ul class="slides clearfix">
            <li>
              <h1>Welcome!</h1>
              <h5>welcome to RFID management system</h5>
              <br><br>
              <div>
                <a class="large-button" href="/login">Enter</a>
              </div>
              <br><br>
            </li>
          </ul>
        </div>
      </div>

      <div class="banner-btm-img"><img src="images/building.png" alt="Buildings" /></div>
    </div>

  <div class="about-area text-center">
    <div class="section-spacing about-top-area">
      <div class="container">
        <div class="top-float-img">
          <div class="image-container"><img src="images/rocket.png" alt="Rocket" /></div>
        </div>
      </div>
    </div>
  </div>

  <div class="push"></div>
</div>
<% include _foot.html %>

</body>
</html>
