<!DOCTYPE html>
<html lang="zh-CN" >
<head>
  <% include _head.html %>
  <title>Register</title>
  <link href="/css/login.css" rel="stylesheet">

</head>
<body style="background-color: #f3f3f3">
<div class="container">
  <form class="form-signin">
    <h2 class="form-signin-heading">Register</h2>
    <label for="inputUsername" >Username</label>
    <!--将初始焦点设定到用户名输入框上-->
    <input type="text" id="inputUsername" class="form-control" placeholder="username" required autofocus>
    <label for="inputPassword">password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="password" required>
    <label for="inputREPassword">again password</label>
    <input type="password" id="inputREPassword" class="form-control" placeholder="again password" required>
    <div class="checkbox">
      <a href="/login">LOGIN</a>
    </div>
    <button id="registerButton" class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
  </form>
</div>
 <!--注册成功的弹出框-->
<div class="modal fade" id="mymodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">success</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-success" role="alert">register successfully, wait a while for login </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</body>
</html>
<% include _foot.html %>
<script>
  $(function () {
    $('#registerButton').click(function (e) {
      e.preventDefault();
      var username = $("#inputUsername").val();
      var password = $("#inputPassword").val();
      var rePassword = $("#inputREPassword").val();
      if(!username){
        alert("enter username!");
        //将焦点移动到用户名上
        $("#inputUsername").focus();
        return;
      }
      if(!password){
        alert("enter password!");
        //移动焦点到密码
        $("#inputPassword").focus();
        return;
      }
      if(!rePassword){
        alert("enter password again!");
        $("#inputREPassword").focus();
        return;
      }
      if(!(password===rePassword)){
        alert("bad twice password!");
        //移动焦点到密码
        $("#inputPassword").focus();
        return;
      }
      //判断手机号码
      var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
      if(!myreg.test(username))
      {
        alert('请输入有效的手机号码！');
        $("#inputUsername").focus();
        return ;
      }
      postUrl('/register',  {username: username, password: password});
    })
  })

  //弹出成功的提示框
  var successWithData = function(data) {
    $("#mymodal").modal("toggle");
    //延迟4秒跳转到登录界面
    setTimeout(function () {
      location.href = '/login';
    }, 4000);
  }
</script>